@using Microsoft.AspNetCore.Identity
@using ScavengeRUs.Services
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserRepository userRepo

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BucHunt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/4be52d642f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScavengeRUs.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/ee1ae73c2c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <div class="container-fluid">
                <a id="svgwrapper" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg viewbox="-25 0 2220 304" width="2220" height="304">
                        <path class="bhsvg" fill-rule="evenodd" fill="#041E42"
                              d="M1586.181,152.748 L1586.181,215.336 C1586.181,261.831 1559.357,303.408 1497.216,303.408 C1432.839,303.408 1407.356,262.278 1407.356,214.889 L1407.356,18.182 L1464.580,18.182 L1464.580,77.641 L1586.181,77.641 L1586.181,118.771 L1464.580,118.771 L1464.580,209.077 C1464.580,236.795 1474.415,252.890 1498.110,252.890 C1521.357,252.890 1532.086,237.242 1532.086,209.972 L1532.086,152.748 L1586.181,152.748 ZM1323.306,164.371 C1323.306,130.394 1313.471,121.006 1285.753,121.006 C1255.352,121.006 1240.599,137.995 1240.599,171.524 L1240.599,297.596 L1182.481,297.596 L1182.481,77.641 L1237.917,77.641 L1237.917,109.830 C1251.329,85.241 1273.682,71.829 1308.1000,71.829 C1351.024,71.829 1381.871,97.312 1381.871,145.148 L1381.871,297.596 L1323.306,297.596 L1323.306,164.371 ZM1102.008,266.749 C1086.808,291.784 1064.007,303.408 1033.607,303.408 C989.795,303.408 958.948,270.772 958.948,222.489 L958.948,77.641 L1017.066,77.641 L1017.066,213.548 C1017.066,241.266 1029.584,254.678 1054.172,254.678 C1083.678,254.678 1099.325,233.666 1099.325,204.607 L1099.325,77.641 L1156.996,77.641 L1156.996,297.596 L1102.008,297.596 L1102.008,266.749 ZM873.109,164.371 L757.320,164.371 L757.320,297.596 L695.178,297.596 L695.178,0.746 L757.320,0.746 L757.320,112.512 L873.109,112.512 L873.109,0.746 L935.698,0.746 L935.698,297.596 L873.109,297.596 L873.109,164.371 ZM579.834,120.112 C555.245,120.112 535.127,135.759 535.127,183.595 C535.127,231.431 555.245,254.678 578.045,254.678 C600.846,254.678 618.728,241.713 620.963,218.019 L679.529,218.019 C673.270,268.984 631.693,303.408 578.492,303.408 C518.586,303.408 477.456,263.619 477.456,184.936 C477.456,106.253 518.586,71.829 580.281,71.829 C637.505,71.829 676.399,104.465 679.976,156.324 L621.411,156.324 C618.281,133.524 601.740,120.112 579.834,120.112 ZM401.006,266.749 C385.806,291.784 363.006,303.408 332.606,303.408 C288.794,303.408 257.946,270.772 257.946,222.489 L257.946,77.641 L316.065,77.641 L316.065,213.548 C316.065,241.266 328.582,254.678 353.171,254.678 C382.677,254.678 398.324,233.666 398.324,204.607 L398.324,77.641 L455.995,77.641 L455.995,297.596 L401.006,297.596 L401.006,266.749 ZM133.660,297.596 L-0.011,297.596 L-0.011,0.746 L146.178,0.746 C204.296,0.746 235.591,32.041 235.591,81.665 C235.591,107.147 219.943,128.606 199.379,137.100 C224.414,146.489 244.532,166.607 244.532,209.077 C244.532,263.172 208.320,297.596 133.660,297.596 ZM134.554,52.158 L59.895,52.158 L59.895,116.535 L138.131,116.535 C162.719,116.535 175.684,105.359 175.684,84.347 C175.684,61.547 163.614,52.158 134.554,52.158 ZM139.472,167.054 L59.895,167.054 L59.895,247.078 L138.578,247.078 C167.190,247.078 184.178,228.748 184.178,204.607 C184.178,178.677 167.190,167.054 139.472,167.054 Z" />

                        <rect class="rectclass r1" x="1620" y="247" width="57" height="57" fill="black" />
                        <rect class="rectclass r2" x="1710" y="247" width="57" height="57" fill="black" />
                        <rect class="rectclass r3" x="1800" y="247" width="57" height="57" fill="black" />
                        <rect class="rectclass r4" x="1890" y="247" width="57" height="57" fill="black" />
                        <path class="xclass" fill-rule="evenodd" fill="rgb(255, 43, 43)"
                              d="M213.420,168.434 L169.579,212.107 L106.1000,149.767 L44.421,212.107 L0.580,168.434 L63.159,106.094 L0.580,43.754 L44.421,0.080 L106.1000,62.420 L169.579,0.080 L213.420,43.754 L150.841,106.094 L213.420,168.434 Z" />
                        BucHunt
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    @* This is for the homepage banner and anything else that should not be within the below container *@
    @RenderSection("topSection", required: false)

    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ScavengeRUs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
