@model IEnumerable<ScavengeRUs.Models.Entities.ApplicationUser>

@{
    ViewData["Title"] = "Scoreboard";
    var hunt = (Hunt)ViewData["hunt"];
}

<h1>Scoreboard for @hunt.HuntName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Number of Tasks Completed
            </th>
            <!--Implement timestamps for fastest task and ranking-->
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasksCompleted.Count)
            </td>
        </tr>

}
    </tbody>
</table>
