html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #191970;
}

#taskimg {
    width: 100px;
    height: 100px;
}

#taskheader {
    font-weight: bold;
}

#taskstatus {
    font-weight: bold;
    text-decoration: underline;
}

#taskbody {
    position: relative;

}

.list-group-item, col  {
    background-color: rgba(172,172,172,0.2) !important;
    position: relative;
}

.offcanvas{
    width: 350px;
}

.button.left{
    top: 40%;
    color: #041E41;
    cursor: pointer;
    padding: 30px 10px 30px 10px;
    position: fixed;
    background: #041E41;
}

.button.right {
    top: 40%;
    color: #041E41;
    cursor: pointer;
    padding: 30px 10px 30px 10px;
    position: absolute;
    background: #041E41;
}

.button:hover {
       background: gold;
 }

.right {
    right: 100%;
    border-radius: 100px 0 0 100px;
}

.triangle-right {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-left: 10px solid rgba(255, 255, 255, .5);
}

.left {
    right: 0%;
    border-radius: 100px 0 0 100px;
}

.triangle-left {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-right: 10px solid rgba(255, 255, 255, .5);
}

#taskAnswer span {
    border: solid 1px black;
    width: 150px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #041E41;
    color: white;
    border-radius: 8px;
}

#taskitem:hover .completeBtn{
    background-color: #FFC72C;
}

#taskAnswer span i {
    vertical-align: middle;
    text-align: center;
}

#huntHeader {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#huntMainHeader {
    display: inline;
}

#taskRemove span{

}

/* Banner for landing page */
.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-text {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2em;
}

.navbar {
  background-color: #FFC72C;
}

.nav-link {
  color: #191970;
}

.navbar-brand {
    color: #191970;
}

.btn-primary {
    background-color: #191970;
}

.bg-etsu-blue {
    --bs-bg-opacity: 1;
    /* this is hex #041E42 */
    background-color: rgba(4, 30, 66, var(--bs-bg-opacity)) !important;
}

.bg-etsu-gold {
    --bs-bg-opacity: 1;
    /* this is hex #FFC72C */
    background-color: rgba(255, 199, 44, var(--bs-bg-opacity)) !important;
}

.bg-etsu-ltgold {
    --bs-bg-opacity: 1;
    /* this is hex #FDD757 */
    background-color: rgba(253, 215, 87, var(--bs-bg-opacity)) !important;
}

/* Notches for the progess bar */
.notch-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* don't need a notch on the end */
.notch:not(:last-child) {
    border-right: 6px solid var(--bs-body-bg);
    height: 100%;
    line-height: normal !important;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(89.1%, 100%, 0);
        transform: translate3d(89.1%, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(89.1%, 27.63%, 0);
        transform: translate3d(89.1%, 27.63%, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(89.1%, 100%, 0);
        transform: translate3d(89.1%, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(89.1%, 27.63%, 0);
        transform: translate3d(89.1%, 27.63%, 0);
    }
}

svg {
    width: 20rem;
    height: auto;
}

#svgwrapper {
    height:100%;
}

#svgwrapper:hover .xclass {
    visibility: visible;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
}

#svgwrapper:hover .rectclass {
    visibility: visible;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-iteration-count: 1;
}

#svgwrapper:hover .r1 {
    animation-duration: .2s;
}

#svgwrapper:hover .r2 {
    animation-duration: .4s;
}

#svgwrapper:hover .r3 {
    animation-duration: .6s;
}

#svgwrapper:hover .r4 {
    animation-duration: .8s;
}

rect.rectclass {
    visibility: hidden;
}

path.xclass {
    visibility: hidden;
    transform: translate(89.1%,27.63%);
}